/* USERCENTER */
.page-user {
	.user-info-top {text-align: center;}
	.user-info-top h2 {font-size: 18px;margin-top: 5px;}
	.user-info-top p {margin: 8px 0 10px 0;}
	.menu {background: none;}
	.menu .el-menu-item {font-size: 12px;--el-menu-item-height:50px;}
	.menu .el-menu-item-group {border-top: 1px solid var(--el-border-color-light);}
	.menu .el-menu-item-group:first-child {border: 0;}
}
